<div class="flex min-h-screen flex-col">
  <.deskbar
    now={assigns[:now]}
    apps={assigns[:tray] || []}
    focused={assigns[:focused]}
  />

  <main class="flex-1">
    {@inner_content}
  </main>
</div>
