<div class="flex min-h-screen flex-col">
  <.deskbar
    now={assigns[:now]}
    apps={assigns[:apps] || []}
    open={assigns[:open] || []}
  />

  <main class="flex-1">
    {@inner_content}
  </main>
</div>
